@model teshCore.Models.Alumnos

@{
    ViewData["Title"] = "Create2";
}

<h2>Create2</h2>

<h4>Alumnos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="nombreAlumno" class="control-label"></label>
                <input asp-for="nombreAlumno" class="form-control" />
                <span asp-validation-for="nombreAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidoAlumno" class="control-label"></label>
                <input asp-for="apellidoAlumno" class="form-control" />
                <span asp-validation-for="apellidoAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calificacionAlumno" class="control-label"></label>
                <input asp-for="calificacionAlumno" class="form-control" />
                <span asp-validation-for="calificacionAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimientoAlumno" class="control-label"></label>
                <input asp-for="fechaNacimientoAlumno" class="form-control" />
                <span asp-validation-for="fechaNacimientoAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

